{% extends "_base.html" %}

{% block title %}Home{% endblock %}
{% block main %}
<h2>Play2Learn with Django and Vue</h2>
<p>
  In this project, you will be creating the backend for the Play2Learn website.
  The website should allow users to log in to the site, play games, track their progress, see leaderboards, manage their account, and leave reviews.
  Administrators will be able to run reports and manage users.
  Any visitor to the site should also be able to fill out a contact us form.
  You should be using Python and Django to add the backend.
  You can use the JavaScript games you've created in previous projects.
</p>
{% endblock %}
