
body {
  background-image: linear-gradient(to bottom right, darkslateblue, skyblue);
}

header {
  background-image: linear-gradient(to bottom right, mediumblue, deepskyblue);
  border-bottom: .5em;
  border-style: solid;
  border-color: blue;
}

#app {
  background-image: linear-gradient(to bottom right, royalblue, deepskyblue);
  border: .5em;
  border-style: solid;
  border-color: slateblue;
}

footer {
  background-image: linear-gradient(to bottom right, slateblue, salmon);
  border-top: .5em;
  border-style: solid;
  border-color: darkmagenta;
}

.carousel-item {
  border: 1px;
  border-style: solid;
  border-color: mediumslateblue;
}

#homepage-carousel {
  background-image: linear-gradient(to bottom right, darkslateblue, darksalmon);
}
