{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title%}Review{% endblock title %}

<link rel="stylesheet" type="text/css" href="{% static 'contact/contact.css' %}">
{% block main %}
<h1 class="text-center text-warning">Leave A Review</h1>
<!--
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
-->
<div class="card border-primary m-auto mb-3 p-3" style="max-width: 50rem">
  <form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <!--
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.game|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.votes|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.comment|as_crispy_field }}
      </div>
    </div>
    -->
    <br />
     <input class="form-control bg-primary text-white" type="submit" value="Submit">
  </form>
{% endblock main %}
