<!DOCTYPE html>
{% extends "_base.html" %}

{% block title%}My Reviews{% endblock title %}
{% block main %}
  <h1 class="text-center text-warning">My Reviews</h1>
    {% if user.is_authenticated %}
      <div class="jumbotron jumbotron-fluid" style="background-image: linear-gradient(to bottom right, darkslateblue, indianred);">
      <!--<div class="card m-auto mb-3 p-3" style="max-width: 50rem">-->
      <div class="card border-2 border-primary border-rounded m-auto p-3 text-center" style="max-width: 50rem; background-image: linear-gradient(to bottom right, darkslateblue, salmon);">
        <div class="list-group list-group-flush">

        {% for review in myreviews %}
        <ul class="list-group-item border border-danger rounded" style="list-style: none; background-image: linear-gradient(to bottom right, darkslateblue, indianred);">
          <li class="text-center h5" style="color: ivory">
            On {{ review.created|date }} you gave {{ review.game }} {{ review.votes }} vote{{ review.votes|pluralize:'s'}} and said:
          </li>
          <li class="my-2 pb-2 h5" style="color: yellow;">
            "{{ review.comment }}"
          </li>
          <div class="bg-light ms-5 me-5">
            <a href="{% url 'update' review.pk %}"
            class="btn btn-primary btn-sm me-5">Update</a>             
            <a href="{% url 'delete' review.pk %}"
                class="btn btn-danger btn-sm ms-5">Delete
            </a>
          </div>          
        </ul>
      {% endfor %}
    {% endif %}
{% endblock main %}
      