{% extends "_base.html" %}

{% block title%}Reviews{% endblock title %}
{% block main %}
  <h1 class="text-center">Reviews</h1>
    <div>
      <ol>
        {% for review in reviews %}
        <li>
          Game: {{ review.game }} --
          Votes: {{ review.votes }} ---
          Comment: {{ review.comment }}
          Username: {{ review.username }} ---
          Recorded: {{ review.created }}
        </li>
        {% endfor %}
      </ol>
    </div>
    <div>
      <h2>Anagram Hunt</h2>
      <ol>
        {% for review in anagram_reviews %}
        <li>
          Game: {{ review.game }} --
          Votes: {{ review.votes }} ---
          Comment: {{ review.comment }}
          Username: {{ review.username }} ---
          Recorded: {{ review.created }}
        </li>
        {% endfor %}
      </ol>
    </div>
    <div>
      <h2>Math Facts</h2>
      <ol>
        {% for review in math_reviews %}
        <li>
          Game: {{ review.game }} --
          Votes: {{ review.votes }} ---
          Comment: {{ review.comment }}
          Username: {{ review.username }} ---
          Recorded: {{ review.created }}
        </li>
        {% endfor %}
      </ol>
    </div>
{% endblock main %}
