{% extends "_base.html" %}

{% block title%}Reviews{% endblock title %}
{% block main %}
  <h1 class="text-center text-warning">Reviews</h1>
    <div>
      <h3 class="ms-5 ps-5 text-center text-warning">Anagram Hunt</h3>
      <div class="card m-auto mb-3 p-3" style="max-width: 50rem">
        <div class="list-group list-group-flush">
          {% for review in anagram_reviews %}
            <ul class="list-group-item border border-danger rounded" style="list-style: none;">
              <li class="text-center">
                On {{ review.created|date }}, {{ review.username }} gave {{ review.game }} {{ review.votes }} votes and said:
              </li>
              <li class="my-2 pb-2">
                "{{ review.comment }}"
              </li>
            </ul>
          {% endfor %}
          </div>
      </div>
    </div>
    <div>
    <h3 class="ms-5 ps-5 text-center text-warning">Math Facts</h3>
    <div class="card border-primary m-auto mb-3 p-3" style="max-width: 50rem">
      <div class="list-group list-group-flush">
        {% for review in math_reviews %}
          <ul class="list-group-item border border-danger" style="list-style: none;">
            <li class="text-center">
              On {{ review.created|date }}, {{ review.username }} gave {{ review.game }} {{ review.votes }} votes and said:
            </li>
            <li class="my-2 pb-2">
              "{{ review.comment }}"
            </li>
          </ul>
        {% endfor %}
        </div>
    </div>
  </div>
{% endblock main %}
