{% extends "_base.html" %}
{% load common_filters %}

{% block title%}Game Scores{% endblock title %}
{% block main %}
  <h1 class="text-center">Game Scores</h1>
    <div class="jumbotron jumbotron-fluid">
      <div class="container col-md-8">
        <h2>Math Facts</h2>
        <hr />
        <ol class="text-center">
        {% for score in math_scores %}
          <li class="h5">
          <div class="row">
            <!--<div class="col-md-4">
              <p class="ms-3">{{ score.score }}  {{ score.username }}</p>
            </div>-->
            <div>
              <p class="ms-5 h2">{{ score.score }} -> {{ score.username }}</p>
              <p>
                {{ score.operation|swap }} --
                {{ score.created|date }} --
                Max Number: {{ score.maxnum }} --
                Game Length: {{ score.gamelength }}
              </p>
            </div>
          </div>
          </li>
        <hr />
        {% endfor %}
        </ol>
      </div>
    </div>
    <div><br /></div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container col-md-8">
        <h2>Anagram Hunt</h2>
        <hr />
        <ol class="text-center">
        {% for score in anagram_scores %}
          <li class="h5">
          <div class="row">
            <!--<div class="col-md-4">
              <p class="ms-3">{{ score.score }}  {{ score.username }}</p>
            </div>-->
            <div>
              <p class="ms-5 h2">{{ score.score }} -> {{ score.username }}</p>
              <p>
                {{ score.created|date }} --
                Max Number: {{ score.maxnum }} --
                Game Length: {{ score.gamelength }}
              </p>
            </div>
          </div>
          </li>
        <hr />
        {% endfor %}
        </ol>
      </div>
    </div>
      <!--
      <ol>
        {% for score in math_scores %}
        <li>
          Score: {{ score.score }} ---
          Username: {{ score.username }} ---
          Recorded: {{ score.created|date }} ---
          Max Number: {{ score.maxnum }} ---
          Game Length: {{ score.gamelength }} ---
          Operation: {{ score.operation|swap }}
        </li>
        {% endfor %}
      </ol>
      -->
    <!--
    <div>
      <h2>Anagram Hunt</h2>
      <ol>
        {% for score in anagram_scores %}
        <li>
          Score: {{ score.score }} ---
          Username: {{ score.username }} ---
          Recorded: {{ score.created }} ---
          Word Length: {{ score.maxnum }} ---
          Game Length: {{ score.gamelength }}
        </li>
        {% endfor %}
      </ol>
    </div>
    <br />
    <br />
    -->
{% endblock main %}
