{% extends "_base.html" %}
{% load common_filters %}

{% block title%}Game Scores{% endblock title %}
{% block main %}
  <h1 class="text-center">Game Scores</h1>
    <div class="jumbotron jumbotron-fluid">
      <div class="container col-md-8">
        <h2>Math Facts</h2>
        <hr />
        <ol class="text-center">
        {% for score in math_scores %}
          <li class="h5">
          <div class="row">
            <div>
              <p class="ms-5 h2">{{ score.score }} -> {{ score.username }}</p>
              <p>
                {{ score.operation|swap }} --
                {{ score.created|date }} --
                Max Number: {{ score.maxnum }} --
                Game Length: {{ score.gamelength }}
              </p>
            </div>
          </div>
          </li>
        <hr />
        {% endfor %}
        </ol>
      </div>
    </div>
    <div><br /></div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container col-md-8">
        <h2>Anagram Hunt</h2>
        <hr />
        <ol class="text-center">
        {% for score in anagram_scores %}
          <li class="h5">
          <div class="row">
            <div>
              <p class="ms-5 h2">{{ score.score }} -> {{ score.username }}</p>
              <p>
                {{ score.created|date }} --
                Max Number: {{ score.maxnum }} --
                Game Length: {{ score.gamelength }}
              </p>
            </div>
          </div>
          </li>
        <hr />
        {% endfor %}
        </ol>
      </div>
    </div>
{% endblock main %}
