{% extends "_base.html" %}
{% load common_filters %}

{% block title%}My Scores{% endblock title %}
{% block main %}
  <h1 class="text-center text-warning">My Scores</h1>
  {% if user.is_authenticated %}
    <div class="jumbotron jumbotron-fluid">
      <div class="container col-md-6">
        <hr />
        <ol class="text-danger bg-light border border-info rounded">
        {% for score in myscores %}
          <li class="h4">
          <div class="row">
            <div>
              <p class="ms-5 h3 text-success">{{ score.score }} --> {{ score.username }}</p>
              <p class="ms-5 h4 text-primary">
                {{ score.operation|swap }} --
                {{ score.created|date }}
              </p>
              <p class="ms-5 h4 text-primary">
                Max Number: {{ score.maxnum }} --
                Game Length: {{ score.gamelength }}
              </p>
            </div>
          </div>
          </li>
        <hr />
        {% endfor %}
        </ol>
      </div>
    </div>
  {% endif %}
{% endblock main %}
