{% extends "_base.html" %}
{% load common_filters %}

{% block title%}Game Scores{% endblock title %}
{% block main %}
  <h1 class="text-center">My Scores</h1>
  {% if user.is_authenticated %}
    <div class="jumbotron jumbotron-fluid">
      <div class="container col-md-8">
        <!--<h2>Math Facts</h2>-->
        <hr />
        <ol class="text-center">
        {% for score in myscores %}
          <li class="h5">
          <div class="row">
            <!--<div class="col-md-4">
              <p class="ms-3">{{ score.score }}  {{ score.username }}</p>
            </div>-->
            <div>
              <p class="ms-5 h2">{{ score.score }} -> {{ score.username }}</p>
              <p>
                {{ score.operation|swap }} --
                {{ score.created|date }} --
                Max Number: {{ score.maxnum }} --
                Game Length: {{ score.gamelength }}
              </p>
            </div>
          </div>
          </li>
        <hr />
        {% endfor %}
        </ol>
      </div>
    </div>
    <!--
      <ol>
        {% for score in myscores %}
          <li>
            Score: {{ score.score }} ---
            Username: {{ score.username }} ---
            Recorded: {{ score.created }} ---
            Max Number: {{ score.maxnum }} ---
            Game Length: {{ score.gamelength }} ---
            Operation: {{ score.operation|swap }}
          </li>
        {% endfor %}
      </ol>
    -->

  <!--
  <div>
    <h2>All Scores</h2>
      <ol>
        {% for score in allscores %}
          <li>
            Score: {{ score.score }} ---
            Username: {{ score.username }} ---
            Recorded: {{ score.created }} ---
            Max Number: {{ score.maxnum }} ---
            Game Length: {{ score.gamelength }} ---
            Operation: {{ score.operation|swap }}
          </li>
        {% endfor %}
      </ol>
  </div>
  <div>
    <h2>Math Facts</h2>
    <ol>
      {% for score in math_scores %}
      <li>
        Score: {{ score.score }} ---
        Username: {{ score.username }} ---
        Recorded: {{ score.created }} ---
        Max Number: {{ score.maxnum }} ---
        Game Length: {{ score.gamelength }} ---
        Operation: {{ score.operation|swap }}
      </li>
      {% endfor %}
    </ol>
  </div>
  <div>
    <h2>Anagram Hunt</h2>
    <ol>
      {% for score in anagram_scores %}
      <li>
        Score: {{ score.score }} ---
        Username: {{ score.username }} ---
        Recorded: {{ score.created }} ---
        Word Length: {{ score.maxnum }} ---
        Game Length: {{ score.gamelength }}
      </li>
      {% endfor %}
    </ol>
  </div>
  {% endif %}
  -->
{% endblock main %}
