{% extends "_base.html" %}
{% load common_filters %}

{% block title%}My Scores{% endblock title %}
{% block main %}
  <h1 class="text-center">My Scores</h1>
  {% if user.is_authenticated %}
    <div class="jumbotron jumbotron-fluid">
      <div class="container col-md-8">
        <hr />
        <ol class="text-center">
        {% for score in myscores %}
          <li class="h5">
          <div class="row">
            <div>
              <p class="ms-5 h2">{{ score.score }} -> {{ score.username }}</p>
              <p>
                {{ score.operation|swap }} --
                {{ score.created|date }} --
                Max Number: {{ score.maxnum }} --
                Game Length: {{ score.gamelength }}
              </p>
            </div>
          </div>
          </li>
        <hr />
        {% endfor %}
        </ol>
      </div>
    </div>
  {% endif %}
{% endblock main %}
