<head><script defer src="http://localhost:8080/js/chunk-vendors.js"></script><script defer src="http://localhost:8080/js/app.js"></script></head>Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module not found: Error: Can't resolve '/Users/benjamingrove/Webucator/DjangoP  lay2Learn/vue-games/public/index.html' in '/Users/benjamingrove/Webucator/Djan  goPlay2Learn/vue-games'
  ModuleNotFoundError: Module not found: Error: Can't resolve '/Users/benjamingr  ove/Webucator/DjangoPlay2Learn/vue-games/public/index.html' in '/Users/benjami  ngrove/Webucator/DjangoPlay2Learn/vue-games'
      at /Users/benjamingrove/Webucator/DjangoPlay2Learn/vue-games/node_modules/  webpack/lib/Compilation.js:2016:28
      at /Users/benjamingrove/Webucator/DjangoPlay2Learn/vue-games/node_modules/  webpack/lib/NormalModuleFactory.js:798:13
      at eval (eval at create (/Users/benjamingrove/Webucator/DjangoPlay2Learn/v  ue-games/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:10:1)      at /Users/benjamingrove/Webucator/DjangoPlay2Learn/vue-games/node_modules/  webpack/lib/NormalModuleFactory.js:270:22
      at eval (eval at create (/Users/benjamingrove/Webucator/DjangoPlay2Learn/v  ue-games/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:9:1)
      at /Users/benjamingrove/Webucator/DjangoPlay2Learn/vue-games/node_modules/  webpack/lib/NormalModuleFactory.js:434:22
      at /Users/benjamingrove/Webucator/DjangoPlay2Learn/vue-games/node_modules/  webpack/lib/NormalModuleFactory.js:116:11
      at /Users/benjamingrove/Webucator/DjangoPlay2Learn/vue-games/node_modules/  webpack/lib/NormalModuleFactory.js:670:25
      at /Users/benjamingrove/Webucator/DjangoPlay2Learn/vue-games/node_modules/  webpack/lib/NormalModuleFactory.js:855:8
      at /Users/benjamingrove/Webucator/DjangoPlay2Learn/vue-games/node_modules/  webpack/lib/NormalModuleFactory.js:975:5
      at /Users/benjamingrove/Webucator/DjangoPlay2Learn/vue-games/node_modules/  neo-async/async.js:6883:13
      at /Users/benjamingrove/Webucator/DjangoPlay2Learn/vue-games/node_modules/  webpack/lib/NormalModuleFactory.js:958:45
      at finishWithoutResolve (/Users/benjamingrove/Webucator/DjangoPlay2Learn/v  ue-games/node_modules/enhanced-resolve/lib/Resolver.js:312:11)
      at /Users/benjamingrove/Webucator/DjangoPlay2Learn/vue-games/node_modules/  enhanced-resolve/lib/Resolver.js:386:15
      at /Users/benjamingrove/Webucator/DjangoPlay2Learn/vue-games/node_modules/  enhanced-resolve/lib/Resolver.js:435:5
      at eval (eval at create (/Users/benjamingrove/Webucator/DjangoPlay2Learn/v  ue-games/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:16:1)      at /Users/benjamingrove/Webucator/DjangoPlay2Learn/vue-games/node_modules/  enhanced-resolve/lib/Resolver.js:435:5
      at eval (eval at create (/Users/benjamingrove/Webucator/DjangoPlay2Learn/v  ue-games/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:16:1)      at /Users/benjamingrove/Webucator/DjangoPlay2Learn/vue-games/node_modules/  enhanced-resolve/lib/Resolver.js:435:5
      at eval (eval at create (/Users/benjamingrove/Webucator/DjangoPlay2Learn/v  ue-games/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:15:1)      at /Users/benjamingrove/Webucator/DjangoPlay2Learn/vue-games/node_modules/  enhanced-resolve/lib/Resolver.js:435:5
      at eval (eval at create (/Users/benjamingrove/Webucator/DjangoPlay2Learn/v  ue-games/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:16:1)      at /Users/benjamingrove/Webucator/DjangoPlay2Learn/vue-games/node_modules/  enhanced-resolve/lib/Resolver.js:435:5
      at eval (eval at create (/Users/benjamingrove/Webucator/DjangoPlay2Learn/v  ue-games/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:16:1)      at /Users/benjamingrove/Webucator/DjangoPlay2Learn/vue-games/node_modules/  enhanced-resolve/lib/Resolver.js:435:5
      at eval (eval at create (/Users/benjamingrove/Webucator/DjangoPlay2Learn/v  ue-games/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:16:1)      at /Users/benjamingrove/Webucator/DjangoPlay2Learn/vue-games/node_modules/  enhanced-resolve/lib/Resolver.js:435:5
      at eval (eval at create (/Users/benjamingrove/Webucator/DjangoPlay2Learn/v  ue-games/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:16:1)      at /Users/benjamingrove/Webucator/DjangoPlay2Learn/vue-games/node_modules/  enhanced-resolve/lib/Resolver.js:435:5
      at eval (eval at create (/Users/benjamingrove/Webucator/DjangoPlay2Learn/v  ue-games/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonymous>:15:1)      at /Users/benjamingrove/Webucator/DjangoPlay2Learn/vue-games/node_modules/  enhanced-resolve/lib/DirectoryExistsPlugin.js:41:15
      at process.processTicksAndRejections (node:internal/process/task_queues:81  :21)
  
  - Compilation.js:2016 
    [vue-games]/[webpack]/lib/Compilation.js:2016:28
  
  - NormalModuleFactory.js:798 
    [vue-games]/[webpack]/lib/NormalModuleFactory.js:798:13
  
  
  - NormalModuleFactory.js:270 
    [vue-games]/[webpack]/lib/NormalModuleFactory.js:270:22
  
  
  - NormalModuleFactory.js:434 
    [vue-games]/[webpack]/lib/NormalModuleFactory.js:434:22
  
  - NormalModuleFactory.js:116 
    [vue-games]/[webpack]/lib/NormalModuleFactory.js:116:11
  
  - NormalModuleFactory.js:670 
    [vue-games]/[webpack]/lib/NormalModuleFactory.js:670:25
  
  - NormalModuleFactory.js:855 
    [vue-games]/[webpack]/lib/NormalModuleFactory.js:855:8
  
  - NormalModuleFactory.js:975 
    [vue-games]/[webpack]/lib/NormalModuleFactory.js:975:5
  
  - async.js:6883 
    [vue-games]/[neo-async]/async.js:6883:13
  
  - NormalModuleFactory.js:958 
    [vue-games]/[webpack]/lib/NormalModuleFactory.js:958:45
  
  - Resolver.js:312 finishWithoutResolve
    [vue-games]/[enhanced-resolve]/lib/Resolver.js:312:11
  
  - Resolver.js:386 
    [vue-games]/[enhanced-resolve]/lib/Resolver.js:386:15
  
  - Resolver.js:435 
    [vue-games]/[enhanced-resolve]/lib/Resolver.js:435:5
  
  
  - Resolver.js:435 
    [vue-games]/[enhanced-resolve]/lib/Resolver.js:435:5
  
  
  - Resolver.js:435 
    [vue-games]/[enhanced-resolve]/lib/Resolver.js:435:5
  
  
  - Resolver.js:435 
    [vue-games]/[enhanced-resolve]/lib/Resolver.js:435:5
  
  
  - Resolver.js:435 
    [vue-games]/[enhanced-resolve]/lib/Resolver.js:435:5
  
  
  - Resolver.js:435 
    [vue-games]/[enhanced-resolve]/lib/Resolver.js:435:5
  
  
  - Resolver.js:435 
    [vue-games]/[enhanced-resolve]/lib/Resolver.js:435:5
  
  
  - Resolver.js:435 
    [vue-games]/[enhanced-resolve]/lib/Resolver.js:435:5
  
  
  - DirectoryExistsPlugin.js:41 
    [vue-games]/[enhanced-resolve]/lib/DirectoryExistsPlugin.js:41:15
  
  - task_queues:81 process.processTicksAndRejections
    node:internal/process/task_queues:81:21
  
  - child-compiler.js:169 
    [vue-games]/[html-webpack-plugin]/lib/child-compiler.js:169:18
  
  - Compiler.js:551 finalCallback
    [vue-games]/[webpack]/lib/Compiler.js:551:5
  
  - Compiler.js:577 
    [vue-games]/[webpack]/lib/Compiler.js:577:11
  
  - Compiler.js:1196 
    [vue-games]/[webpack]/lib/Compiler.js:1196:17
  
  
  - task_queues:95 process.processTicksAndRejections
    node:internal/process/task_queues:95:5
  
</pre>