{% extends "_base.html" %}

{% load static %}

<link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

{% block title %}Home{% endblock title %}
{% block main %}
  <h1 class="ms-5">DjangoPlay2Learn</h1>
  <h3 class="text-center">Player Reviews:</h3>

  <!-- CAROUSEL -->
  <div class="carousel slide" id="homepage-carousel" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      {% for review in reviews %}
        {% if forloop.first %}
          <div class="carousel-item active">
        {% else %}
          <div class="carousel-item">
        {% endif %}
        <!--<blockquote>-->
        <div class="card border-primary m-auto mb-3 p-3 text-center" style="max-width: 50rem">
          <h3>{{ review.game }}</h3>  <!-- MATH or ANAGRAM -->
          <hr />
          <h4>{{ review.comment }}</h4>
          <h5>-- {{ review.username }}</h5>
          <p>{{ review.created }}</p>
          <hr />
        </div>
        <!--</blockquote>-->
      </div> <!-- for carousel-item above -->
      {%endfor%}
      </div> <!-- for carousel-item active above -->
    </div>
  </div>
  <!-- END CAROUSEL -->
{% endblock main %}
