{% extends "_base.html" %}

{% load static %}

{% block title %}Home{% endblock title %}
{% block main %}
  <h1 class="text-center text-warning">DjangoPlay2Learn</h1>
  <h4 class="text-center text-warning">Player Reviews:</h4>

  <!-- CAROUSEL -->
  <div class="carousel slide pb-2" id="homepage-carousel" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      {% for review in reviews %}
        {% if forloop.first %}
          <div class="carousel-item active">
        {% else %}
          <div class="carousel-item">
        {% endif %}
        <!--<blockquote>-->
        <div class="card border-primary m-auto p-3 text-center" style="max-width: 50rem">
          <h3>{{ review.game }}</h3>  <!-- MATH or ANAGRAM -->
          <hr />
          <h4>{{ review.comment }}</h4>
          <h5>-- {{ review.username }}</h5>
          <p>{{ review.created }}</p>
          <hr />
        </div>
        <!--</blockquote>-->
      </div> <!-- for carousel-item above -->
      {%endfor%}
      </div> <!-- for carousel-item active above -->
    </div>
  </div>
  <!-- END CAROUSEL -->
{% endblock main %}
