{% extends "_base.html" %}

{% load static %}

{% block title %}Home{% endblock title %}
{% block main %}
  <h1 class="text-center text-warning">DjangoPlay2Learn</h1>
  <h4 class="text-center text-warning">Player Reviews:</h4>

  <!-- CAROUSEL -->
  <div class="carousel slide pb-2" id="homepage-carousel" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      {% for review in reviews %}
        {% if forloop.first %}
          <div class="carousel-item active">
        {% else %}
          <div class="carousel-item">
        {% endif %}
        <!--<blockquote>-->
        <div class="card border-2 border-primary border-rounded m-auto p-3 text-center" style="max-width: 50rem; background-image: linear-gradient(to bottom right, darkslateblue, darksalmon);">
          <h2 style="color: lavender;">{{ review.game }}</h2>  <!-- MATH or ANAGRAM -->
          <hr />
          <h3 style="color: yellow;">{{ review.comment }}</h3>
          <h4 style="color: gold;">-- {{ review.username }}</h4>
          <h5 style="color: turquoise;" class="py-3">{{ review.created }}</h5>
        </div>
        <!--</blockquote>-->
      </div> <!-- for carousel-item above -->
      {%endfor%}
      </div> <!-- for carousel-item active above -->
    </div>
  </div>
  <!-- END CAROUSEL -->
{% endblock main %}
